/* AppComponent's private CSS styles */
h1 {
  margin-bottom: 0;
}
nav a {
  padding: 1rem;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #e8e8e8;
  color: #3d3d3d;
  border-radius: 10px;
  font-size: large;
}

.nav-bar {
  animation: 4s linear 0s 1 alternate move_eye;
  width: 100%;
  /* flexbox */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
}

@keyframes move_eye {
  from {
    margin-left: 90%;
  }
  to {
    margin-left: 0%;
  }
}

nav a:hover {
  color: white;
  background-color: #42545c;
  cursor: pointer;
}
nav a.active {
  background-color: black;
}

button {
  margin-top: 20px;
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}
button:hover {
  background-color: #42545c;
  color: white;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
