<h1> {{title}}</h1>
<script src="http://123.com"> </script>
<!-- <div [innerHTML] = "htmlSnippet"> -->
<div>
    <nav class="nav-bar">
        <a *ngIf="_isDetailShowing" (click)="goBack()"> Back </a>
        <a routerLink="/dashboard" (click)="isDetailShowing(false)">Dashboard</a>
        <a routerLink="/heroes" (click)="isDetailShowing(false)">Heroes</a>
    </nav>
</div>

<app-hero-search></app-hero-search>


<!-- <app-heroes></app-heroes> -->
<!-- Aoo no longer needs to display app-heros as above because the <router-outlet> tells the router to display it only when it is navigated to. -->
<router-outlet></router-outlet>
<app-messages></app-messages>